:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

button,
body {
  font-family: "Roboto", sans-serif;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.mapboxgl-popup-content {
  background: none !important;
  padding: 0 !important;
  border-width: 0 !important;
  border-color: transparent !important;
  border-radius: 8px !important;
  pointer-events: auto !important;
  text-align: left !important;
  width: max-content;
}

.mapboxgl-popup-content p {
  font-size: 15px;
  margin: 0px;
}

.mapboxgl-popup-content h1 {
  font-weight: 700;
  font-size: 13px;
  position: absolute;
}

.mapboxgl-popup-close-button{
  font-size: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.mapboxgl-ctrl-top-right{
  margin-top: 56px;
}
/* 
p {
  margin: 0;
  font-size: 14px;
  line-height: 28px;
} */

/* body {
  color: var(--foreground);
  background: var(--background);
} */